<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Missões</title>
</head>
<body>
    <h1>Lista de Missões</h1>
    <table border= "1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Lançamento</th>
                <th>Destino</th>
                <th>Estado da Missão</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> missao.id </td>
                <td>Nome </td>
                <td>Data Lançamento</td>
                <td>Destino </td>
                <td>Estado Missão </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
